body {
  font-family: sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: blueviolet;
}

h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555555;

nav li {
    float: center;
    margin-right: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 1px solid #777777;
    
}

logo
 {
    line-height: 75px;
}

.hero-image {
    height: 200px;
    width: 50%;
    background: img src="wireframes/dawn.jpg";
    no-repeat center center;
    }
