body {
    font-family: helvetica, sans-serif;
}

.main-container {
   width: 75%;
   margin: 0 auto;
   height: 700px;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}
#logo,
#navigate{
    line-height: 75px;
}

body {
  background-image: 
  background-repeat: no-repeat;
}
nav li {
    float:center;
    margin-right: 50px;
}

nav a {
    text-decoration: 
    color: inherit;
}

nav a:hover {
    border-bottom: 2px solid #000000;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../img/main-image.png) no-repeat center center;
    }
