body {
  background-image: url("wireframes/dawn.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}

h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;

nav li {
    float: center;
    margin-right: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 1px solid #777777;
    
}

logo
 {
    line-height: 175px;
}

.hero-image {
    height: 200px;
    width: 50%;
    background: img src="wireframes/dawn.jpg";
    no-repeat center center;
    }

#mainbox{
background: img src="wireframes/dawn.jpg";
}