body {
  font-family: sans-serif;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url('wireframes/dawn.jpg');
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

p {
  background-color: none;
  color:blueviolet;
}

h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #8fa2a8;
    background-color: transparent;
}

ul li {
    margin: 10px;
}

.container {
    width: 200px;
    height: 120px;
}
    .container img {
    width: 100%;
    height: auto;
}

.col {
    width: 100%;
    height: auto;
}

.form-control {
    background-color: grey;
    width: 75%;
    text-align: center;
}

#exampleFormControlSelect1 {

    text-align: center
}
.exampleFormControlInput1 {

    text-align: center;
}

.form-group {

    float: center;
}

row {
    -ms-grid-column-align: left;
}
footer{
    height: 80px;
}
.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 120%;
    margin: 2%;
    padding: 6%;
    color: #777777;
}